<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/styles/blogView.css">
    </head>
    <body>
        <div class="container">
            
            <%- include('partials/header')%>

            <main class="blog-container">
                <div class="blog-header">
                    <h1 class="blog-heading"><%= blog.title %></h1>
                    <div class="author-info">
                        <img src="<%= blog.createdBy.profileImageURL %>" alt="Profile Image" class="author-avatar">
                        <div>
                            <p class="author-name"><%= blog.createdBy.fullName %></p>
                            <% if (blog.createdAt) { %>
                                <p class="author-details">Posted on <%= blog.createdAt.toLocaleDateString() %></p>
                            <% } else { %>
                                <p class="author-details">Posted on Unknown Date</p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <img src="<%= blog.coverImageURL %>" alt="Blog Image" class="blog-img">
                <div class="para-container">
                    <p class="para" id="para-1">
                        <%= blog.body %>
                    </p>
                </div>
            </main>

            <div class="comments-wrapper">
                <% if (locals.user) { %>
                    <form action="/blog/comment/<%= blog._id %>" method="post" class="comment-form">
                        <img src="<%= locals.user.profileImageURL %>" alt="Profile Image" class="comment-avatar">
                        <input type="text" name="content" placeholder="Add a comment..." class="comment-input">
                        <button type="submit" class="comment-button">Submit</button>
                    </form>
                <% } else { %>
                    <p class="sign-in-message">Sign-in to add comments</p>
                <% } %>
            
                <div class="comments-container">
                    <% comments.forEach(comment => { %>
                        <div class="comment-card">
                            <img src="<%= comment.createdBy.profileImageURL %>" alt="Profile Image" class="comment-avatar">
                            <div class="comment-content">
                                <p class="comment-author"><%= comment.createdBy.fullName %></p>
                                <% if (comment.createdAt) { %>
                                    <p class="comment-date">Posted on <%= new Date(comment.createdAt).toLocaleDateString() %></p>
                                <% } else { %>
                                    <p class="comment-date">Posted on Unknown Date</p>
                                <% } %>
                                <pre class="comment-text"><%= comment.content %></pre>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            
        </div>
        <%- include('partials/footer')%>
    </body>
</html>