<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="styles/collections.css">
</head>
<body>
    <div class="container">
        <%- include('partials/header') %>

        <main class="collections-container">
            <h1 class="collections-heading">Latest Articles</h1>
            <div class="carousel-container">
                <img src="images/latest-article-banner.jpg" alt="latest-articles" class="latest-articles">
            </div>

            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search blogs...">
            </div>

            <div class="collections-cards-container">
                <h2 class="collections-head">Collections</h2>

                <% const categories = ['Food Blogs', 'Travel Blogs', 'Tech Blogs', 'Lifestyle Blogs', 'Fashion Blogs', "Miscelaneous"]; %>
                <% categories.forEach(category => { %>
                    <div class="blog-card-container">
                        <div class="blog-cover"><%= category %></div>
                        <div class="card-scroll-container">
                            <% blogs.filter(blog => blog.category === category).forEach(blog => { %>
                                <a href="blog/<%= blog._id %>">
                                    <div class="card">
                                        <span class="category-tag"><%= blog.category %></span>
                                        <div class="cover-img-container">
                                            <img src="<%= blog.coverImageURL %>" alt="Blog Card Cover" class="cover-img">
                                        </div>
                                        <h3 class="blog-head"><%= blog.title %></h3>
                                        <p class="blog-description">
                                            <%= blog.body.substring(0, 150) %>...
                                        </p>
                                        <p class="post-date">Posted on <%= blog.createdAt ? blog.createdAt.toLocaleDateString() : 'Unknown Date' %></p>
                                        <div class="author-details">
                                            <a href="/profile/<%= blog.createdBy._id %>" class="author-profile-link">
                                                <img src="<%= blog.createdBy.profileImageURL %>" alt="<%= blog.createdBy.fullName %>'s profile" class="author-profile-img">
                                            </a>
                                            <p class="author-name"><%= blog.createdBy.fullName %></p>
                                        </div>
                                    </div>
                                </a>
                            <% }) %>
                        </div>
                    </div>
                    
                <% }); %>
            </div>
        </main>
        <%- include('partials/footer') %>
    </div>
    <script src="collections.js"></script>
</body>
</html>